body{
	margin: 0;
}
.title-wap{
	
	text-align: center;	
}
.title-wap h2{
	font-size: 18px;
}
.title-wap p{
	font-size:12px;
	
	color: #838383;
}
.title-wap p:nth-child(2){
	
	margin-top: -15px;
}
.content-wap{
	width: 100%;	
}
.content-wap table{
	width: 98%;
	margin: 0 auto;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
	overflow:hidden;
}

.content-wap table tr{
	
	height: 45px;
	font-size: 16px;
	
}
.content-wap table tr th{
	
	font-weight: normal !important;
}
.content-wap table tr:nth-child(1){
	color: #8dbeff;
	background-color: #f5f5f5;
	
} 
.content-wap table{border-right:1px solid #e7ecf1;border-bottom:1px solid #e7ecf1} 
.content-wap table th{border-left:1px solid #e7ecf1;border-top:1px solid #e7ecf1} 
.gray{
	color: #838383;
	
}
.orange{
	color: #dc9251;
}
.foot{
	text-align: center;
	margin-top: 12px;
	position: relative;
}
..foot{
	text-align: center;
	margin-top: 12px;
	position: relative;
}
.foot span{
	display: inline-block;
	font-size: 15px;
	color: #838383;
}
.foot img{
	display: inline-block;
	width: 15px;
	height: 15px;
}

